@model TeachMe.Web.ViewModels.CommentViewModels.CommentViewModel

<div class="media">
    <div class="media-body">
        <h4 class="media-heading pull-right">@Model.UserName</h4>
        <p class="comment-content">@Model.Content</p>
        <span class="pull-right">@Model.CreatedOn.Date.ToShortDateString()</span>
    </div>
    <div class="media-right">
        <a href="#">
            <img class="media-object media-middle comment-picture" src="~/Content/Images/default_profile.png" alt="Avatar">
        </a>
    </div>
</div>