.comment {
    margin-bottom: 40px;
}

.comment-picture {
    width:80px;
    height: 80px;
}

.comment-odd {
    background-color: aliceblue;
}

#comments-container, #editor {
    margin-top: 50px;
}